.footer {
    background-color: #000000;
    padding: 10px 20px;
    color: #FFFFFF;
    display: flex;
    /*justify-content: space-between;
    align-items: flex-end;  Mise en commentaire pour éviter les bugs.*/
  }
  .gray {
    color: #8E8E8E;
  }
  .right-al {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .fashiona {
    display: flex;
    align-items: left;
  }
  .fashion {
    font-weight: bold;
  }